body {
  background: #ffffff;
  color: #757575;
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

body.modal-open {
  overflow: hidden;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
  color: #212121;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.img-block {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section .title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
}

@media screen and (max-width: 1199px) {
  .section .title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.66;
  }
}

.conteiner {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.button {
  display: inline-block;
  color: #ffffff;
  background: #2196f3;
  border-radius: 4px;
  border: 1px solid transparent;
  min-width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.04em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.centered {
  text-align: center;
}

.page-header {
  position: relative;
}

.header-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .header-item {
    border-bottom: 1px solid #ececec;
  }
}

@media screen and (max-width: 1199px) {
  .header-item {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.menu-batton {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-batton {
    display: none;
  }
}

.menu-batton .icon-menu {
  display: none;
}

.menu-batton.is-open .icon-menu {
  display: block;
}

.menu-batton.is-open .icon-cross {
  display: none;
}

.logo {
  display: block;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
  font-family: Raleway, sans-serif;
  font-weight: bold;
}

.logo:hover, .logo:focus {
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 24px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 25px;
    font-size: 26px;
    line-height: 1.2;
  }
}

.web {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.web:hover {
  color: #212121;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav.is-open {
  display: block;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 998;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 60px 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    margin-left: 80px;
  }
}

@media screen and (max-width: 767px) {
  .site-nav-list {
    margin-bottom: 44px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav-list {
    margin-right: 305px;
  }
}

.site-nav-list .active {
  color: #2196f3;
}

.site-nav-list .active::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  border-radius: 2px;
  width: calc(100% - 2px);
  height: 4px;
  background-color: #2196f3;
}

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-item .nav-link:hover,
.nav-item .nav-link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .nav-item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .nav-item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav-link {
  position: relative;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .nav-link {
    padding-top: 0;
    padding-bottom: 8px;
  }
}

.contatcs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .contatcs .item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .contatcs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contatcs .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .contatcs .item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.icon-contact {
  margin-right: 8px;
  fill: #757575;
}

.contacts-link {
  display: block;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .contacts-link {
    font-size: 18px;
    line-height: 1.16;
  }
}

@media screen and (max-width: 1199px) {
  .contacts-link {
    font-size: 12px;
    line-height: 1.14;
  }
}

.contacts-link > .icon-contact {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover > .icon-contact,
.contacts-link:focus > .icon-contact {
  color: #2196f3;
  fill: #2196f3;
}

.contacts-link:hover, .contacts-link:focus {
  color: #2196f3;
}

.header-border {
  border-bottom: 1px solid #ececec;
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  margin-bottom: 32px;
}

@media screen and (max-width: 767px) {
  .filter-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
  }
}

@media screen and (min-width: 768px) {
  .filter-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter-list {
    margin-top: 93px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .filter-item {
    margin: 8px;
  }
}

@media screen and (min-width: 768px) {
  .filter-item:not(:last-child) {
    margin-right: 8px;
  }
}

.radio-button {
  padding: 6px 22px;
  background: #f5f4fa;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.radio-button:hover, .radio-button:focus {
  background: #2196f3;
  color: #ffffff;
}

.examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.examples-title {
  color: #212121;
  font-size: 18px;
  line-height: 2;
}

.examples-text {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
}

.examples .examples-item:hover,
.examples .examples-item:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .examples-item {
    width: calc(100% - 15px);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .examples-item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .examples-item {
    width: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }
}

.card-content {
  max-width: 450px;
  padding: 24px 15px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.examples-card {
  position: relative;
  overflow: hidden;
}

.examples-card::before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.card-text {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  color: #ffffff;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.examples-link:hover .examples-card::before,
.examples-link:focus .examples-card::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.examples-link:hover .card-text,
.examples-link:focus .card-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

footer {
  margin-left: auto;
  margin-right: auto;
  background: #2f303a;
}

@media screen and (max-width: 1199px) {
  footer {
    text-align: center;
  }
}

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .page-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .flex-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 1199px) {
  .flex-tablet {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .flex-tablet {
    margin-right: 94px;
  }
}

@media screen and (max-width: 767px) {
  address {
    margin-bottom: 60px;
  }
}

address p:not(:last-child) {
  margin-bottom: 9px;
}

.city {
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.contacts-footer {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
  color: #212121;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
}

.web-footer {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.web-footer:hover {
  color: #ffffff;
}

.studio-footer {
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-footer:hover {
  color: #2196f3;
}

.footer-social {
  margin-left: 69px;
}

@media screen and (max-width: 767px) {
  .footer-social {
    margin-left: auto;
    margin-right: auto;
  }
}

.community {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 21px;
}

.footer-social-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover, .footer-social-link:focus {
  background-color: #2196f3;
}

.icon-social-footer {
  fill: #ffffff;
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social {
  margin-left: 69px;
}

@media screen and (max-width: 767px) {
  .footer-social {
    margin-left: auto;
    margin-right: auto;
  }
}

.community {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 21px;
}

.footer-social-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover, .footer-social-link:focus {
  background-color: #2196f3;
}

.icon-social-footer {
  fill: #ffffff;
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.subscribe-text {
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.subscribe-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12px;
  padding-left: 29px;
  padding-right: 13px;
  font-weight: 900;
}

@media screen and (max-width: 1199px) {
  .subscribe-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}

.mail-field {
  display: inline-block;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  width: 100%;
  max-width: 450px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
}

@media screen and (max-width: 1199px) {
  .mail-field {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .mail-field {
    width: 358px;
  }
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199px) {
  .footer-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-form ::-webkit-input-placeholder {
  padding: 18px 12px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.footer-form :-ms-input-placeholder {
  padding: 18px 12px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.footer-form ::-ms-input-placeholder {
  padding: 18px 12px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.footer-form ::placeholder {
  padding: 18px 12px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.icon-batton {
  margin-left: 10px;
  fill: #ffffff;
}
/*# sourceMappingURL=portfolio.css.map */