footer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  @media screen and (min-width: $desktop) {
    padding-left: 215px;
    padding-right: 215px;

    width: 100%;
  }

  background: #2f303a;
}

.page-footer {
  display: flex;
  flex-direction: column;
  // align-items: center;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    flex-direction: row;

    align-items: baseline;
  }
}

.flex-tablet {
  @media screen and (min-width: 480px) {
    display: inline-flex;
    justify-content: space-around;
  }
}
