.border-quality {
  border-bottom: 1px solid #ececec;
}

.quality {
  &-list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  }

  &-item {
    @media screen and (min-width: 480px) {
      width: 100%;
    }

    @media screen and (min-width: 768px) {
      width: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 4 * 30px) / 4);
      margin: 15px;
    }
  }

  &-item:not(:last-child) {
    @media screen and (max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  &-title {
    margin-top: 30px;
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }

  &-text {
    width: 100%;

    font-size: 14px;
    line-height: 1.71;
  }
}

.icon-quality {
  display: block;
  width: 100%;
  height: 120px;

  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f5f4fa;
}
